.chat{
    width: 100%;
    height: 100%;
}
.search {
    width: 100%;
    height: 10%;
    display: flex;
    input{
        width: 70%;
        height: 20%;
    }
    button{
        min-width: 15%;
    }
    h3{
    }
}

.musicInfo{
    // background-color: rebeccapurple;
    margin: 20px;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    img{
        margin-right: 20px;
        max-width: 10%;
    }
    @media (max-width:700px) {
        font-size: 10px;
    }
}
.musics{
    flex-direction: column;

}
.sort{
    button{
        background-color: white;
        border: 2px solid gainsboro;
        border-radius: 5px;
    }
}


//detail page
.detail{
    width: 100vw;
    height: 100vh;
}
.albemTitle{
    display: flex;
    justify-content: center;
    margin: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(221, 218, 218);
}
.detailInfo{
    display: flex;
    flex-direction: row;
    img{
        width: 20%;
        margin: 20px;
    }
}