.chat{
    width: 100%;
    height: 100%;
    background-color: wheat;
}
.search {
    width: 100%;
    height: 10%;
    input{
        width: 70%;
    }
}
.musicInfo{
    // background-color: rebeccapurple;
    margin: 20px;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    img{
        margin-right: 20px;
    }
    @media (max-width:700px) {
        font-size: 10px;
    }
}
.musics{
    flex-direction: column;
}
.detail{
    width: 100vh;
    height: 100;
    background-color: antiquewhite;
}